<div class="flex border-t mt-4 border-gray-200 py-2" id="cart-item-{{ item.product.id }}">
    <span class="text-gray-500">{{ item.product.name }}</span>
    <span class="ml-auto text-gray-900">
        <!-- Added htmx triggers for incrementing and decrementing cart items -->
        <a 
            href=""
            class="p-3 bg-gray-100"
            hx-get="{% url 'update_cart' item.product.id 'decrement' %}"
            hx-target="#cart-item-{{ item.product.id }}"
            hx-swap="outterHTML"
        >
            -
        </a>
        <span>{{ item.quantity }}</span>
        <a 
            class="p-3 bg-gray-100"
            hx-get="{% url 'update_cart' item.product.id 'increment' %}"
            hx-target="#cart-item-{{ item.product.id }}"
            hx-swap="outterHTML"
        >
            +
        </a>
    </span>
    <span class="ml-auto text-gray-900">${{ item.total_price }}</span>
</div>