<!-- <form method="POST" action="{% url 'start_order' %}">
    {% csrf_token %} -->
    <div id="myTabContent" class="my-9">
        <!--     -->
        <!--     -->
        <!-- TAB1 -->
        <!--     -->
        <!--     -->
        <div class="hidden p-4 overflow-y-auto max-h-[32vh] bg-gray-50 rounded-lg dark:bg-gray-800" id="shipping" role="tabpanel" aria-labelledby="shipping-tab">
            <div class="mt-3">
                <label for="full_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Full Name</label>
                <div class="relative">
                  <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12" />
                    </svg>
                  </div>
                  <input name="first_name" type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ request.user.first_name }}" readonly>
                </div>
            </div>
            <div class="mt-3">
                <label for="phone-icon" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Name</label>
                <div class="relative">
                  <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25" />
                    </svg>
                  </div>
                  <input type="phone" id="last_name" name="last_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ request.user.last_name }}" readonly>
                </div>
            </div>
            <div class="mt-3">
                <label for="address-icon" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Address</label>
                <div class="relative">
                  <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 21v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21m0 0h4.5V3.545M12.75 21h7.5V10.75M2.25 21h1.5m18 0h-18M2.25 9l4.5-1.636M18.75 3l-1.5.545m0 6.205l3 1m1.5.5l-1.5-.5M6.75 7.364V3h-3v18m3-13.636l10.5-3.819" />
                    </svg>      
                  </div>
                  <input type="text" id="address" name="address" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="201, fife street">
                </div>
            </div>
            <div class="mt-3">
                <label for="zipcode" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Zipcode</label>
                <div class="relative">
                  <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>

                  </div>
                  <input type="text" id="zipcode" name="zipcode" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="5435">
                </div>
            </div>
            <div class="mt-3">
                <label for="city" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">City</label>
                <div class="relative">
                  <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 21v-8.25M15.75 21v-8.25M8.25 21v-8.25M3 9l9-6 9 6m-1.5 12V10.332A48.36 48.36 0 0012 9.75c-2.551 0-5.056.2-7.5.582V21M3 21h18M12 6.75h.008v.008H12V6.75z" />
                    </svg>

                  </div>
                  <input type="text" id="place" name="place" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Paris">
                </div>
            </div>
            <div class="my-3 rounded-xl" id="errors">
                
            </div>

        </div>

        <!--     -->
        <!--     -->
        <!-- TAB2 -->
        <!--     -->
        <!--     -->
        <div class="hidden p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="mt-3">
                <label for="email-address-icon" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Email</label>
                <div class="relative">
                  <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                      <path stroke-linecap="round" d="M16.5 12a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 10-2.636 6.364M16.5 12V8.25" />
                    </svg>

                  </div>
                  <input type="text" id="email" name="email"" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ request.user.email }}" readonly>
                </div>
            </div>
            <div class="mt-3">
                <label for="phone-icon" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone</label>
                <div class="relative">
                  <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                    <svg  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
                    </svg>                          
                  </div>
                  <input type="phone" id="phone" name="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="+(XXX)-XXX-XXX">
                </div>
            </div>
        </div>
        <!--     -->
        <!--     -->
        <!-- TAB3 -->
        <!--     -->
        <!--     -->
        <div class="hidden p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="payment" role="tabpanel" aria-labelledby="payment-tab">
            <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Payment tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
        </div>

    </div>
    <div class="flex">
        <span class="title-font font-medium text-2xl text-gray-900">${{ cart.get_total }}</span>
        <button 
            class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded"
            type="submit"
            onclick="buy(event)"
            >
            Confirm Checkout
        </button>
    </div>
<!-- </form> -->

{% block js %}
<script type="application/javascript" src="https://js.stripe.com/v3/"></script>
<script>
  
  let element = document.querySelector('#errors')

  function validateForm(data){

    let errors = []

    if (data.first_name === ''){
      errors.push('Field is empty')
    }

    if (data.last_name === ''){
      errors.push('Field is empty')
    }

    if (data.email === ''){
      errors.push('Field is empty')
    }

    if (data.address === ''){
      errors.push('Field is empty')
    }

    if (data.phone === ''){
      errors.push('Field is empty')
    }

    if (data.place === ''){
      errors.push('Field is empty')
    }

    if (data.zipcode === ''){
      errors.push('Field is empty')
    }

    // condition to check if the element variable is greater than 0
    if (errors.length > 0){
      let html = '<ul>';

      errors.forEach((error) => {
        
        html += '<li>' + error + '</li>';

      })
      element.innerHTML = html + '</ul>';
    } else {
      element.innerHTML = '';
    }

    return errors
  }

  // function to run when checkout button is clicked
  function buy(event){
    event.preventDefault()
    // get input data
    let data = {
        'first_name': document.querySelector('input[name=first_name]').value,
        'last_name': document.querySelector('input[name=last_name]').value,
        'email': document.querySelector('input[name=email]').value,
        'address': document.querySelector('input[name=address]').value,
        'phone': document.querySelector('input[name=phone]').value,
        'place': document.querySelector('input[name=place]').value,
        'zipcode': document.querySelector('input[name=zipcode]').value,
    }
    // call validate form on data from form
    let errors = validateForm(data)
    // if they are errors, display them else if everything is okay call stripe with publichable key
    if (errors.length){
      console.log('Errors', errors)
    } else {
      var stripe = Stripe('{{ pub_key }}')
      // use fetch to post data to the start order view
      fetch('/order/start-order/',{
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}',
          },
          credentials: 'same-origin',
          body: JSON.stringify(data)
      })
      .then(function(response){
        return response.json()
      })
      // getting session from start order view return statement
      .then(function(session){
        return stripe.redirectToCheckout({sessionId: session.session.id})
      })
      // method to see if there is an error
      .then(function(result){
        if (result.error){
          alert(result.error.message)
        }
      })
      // catch to catch any other errors
      .catch(function(error){
        console.log('Errors', error)
      })
    }
    return false
  }

</script>
{% endblock %}