{% load compress %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.5/dist/flowbite.min.css" />
        {% compress css %}
        <link rel="stylesheet" href="{% static 'css/output.css' %}">
        {% endcompress %}
        <script src="https://cdn.tailwindcss.com"></script>
    <body>

        {% include './nav.html' %}

        <main>
            {% block home %}
            {% endblock %}

            {% block shop %}
            {% endblock %}
            
            {% block product %}
            {% endblock %}
        </main>
        
        {% include './footer.html' %}
        
        <script src="https://unpkg.com/flowbite@1.5.5/dist/flowbite.js"></script>
    </body>
</html>


