{% load compress %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} | CellCity</title>
        <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.5/dist/flowbite.min.css" />
        {% compress css %}
        <link rel="stylesheet" href="{% static 'css/output.css' %}">
        {% endcompress %}
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://unpkg.com/htmx.org@1.8.4" integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV" crossorigin="anonymous"></script>
    <body>

        {% include './nav.html' %}

        <main>
            {% block home %}
            {% endblock %}

            {% block shop %}
            {% endblock %}
            
            {% block product %}
            {% endblock %}

            {% block auth %}
            {% endblock %}

            {% block cart %}
            {% endblock %}

            {% block checkout %}
            {% endblock %}
            
            {% block success %}
            {% endblock %}
        </main>
        
        {% include './footer.html' %}
        
        <script src="https://unpkg.com/flowbite@1.5.5/dist/flowbite.js"></script>
        {% block js %}
        {% endblock %}
    </body>
</html>


