asgiref==3.6.0
backports.zoneinfo==0.2.1
certifi==2022.12.7
charset-normalizer==3.0.1
Django==4.1.4
django-appconf==1.0.5
django-compressor==4.1
django-environ==0.9.0
idna==3.4
Pillow==9.3.0
psycopg2==2.9.5
rcssmin==1.1.0
requests==2.28.2
rjsmin==1.2.0
sqlparse==0.4.3
stripe==5.1.1
urllib3==1.26.14
