{% load static %}
<div class="hidden rounded-lg" id="orders" role="tabpanel" aria-labelledby="orders-tab">  
    {% if orders %}
    <div class="min-w-full max-w-md p-4 bg-white border rounded-lg shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700">
        <div class="flex items-center justify-between mb-4">
            <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">My Orders</h5>
            <a href="{% url 'cart' %}" class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500">
                View all
            </a>
        </div>
        {% for order in request.user.orders.all %}
        <div class="flow-root border-b-2 border-gray-300">
            <ul role="list" class="">
                {% for item in order.items.all %}
                <li class="py-3 sm:py-4">
                    <div class="flex items-center space-x-4">
                        <div class="flex-shrink-0">
                            <img class="w-8 h-8 rounded-full" src="{% if product.image %}{{ product.get_thumbnail }}{% else %}{% static 'img/iphone.jpg' %}{% endif %}" alt="Neil image">
                        </div>
                        <div class="flex-1 min-w-0">
                            <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                               {{ item.product.name }}
                            </p>
                            <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                Quantity: {{ item.quantity }}
                            </p>
                            <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                Each: {{ item.price }}
                            </p>
                        </div>
                        <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                            ${{ item.get_total }}
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <div class="flex items-center justify-between my-4">
                <h6 class="text-l leading-none text-gray-900 dark:text-white">Date: {{ order.created_at }}</h6>
                <h6 class="text-l leading-none text-gray-900 dark:text-white">Total: {{ order.get_total }}</h6>
            </div>
        </div>
        
        {% endfor %}
    </div>
    {% else %}
    <div class="p-4 mb-4 text-sm text-yellow-700 bg-yellow-100 rounded-lg dark:bg-gray-800 dark:text-yellow-300" role="alert">
        <span class="font-medium">Nothing Found</span> You currently do not have any orders at the moment
    </div>
    {% endif %}
</div>
