{% extends "base.html" %}

{% block auth %}
    
<section class="text-gray-600 body-font relative">
    <div class="container px-5 py-24 mx-auto mt-[7vh] lg:max-w-[50vw] bg-gray-100 rounded-2xl">
      <div class="flex flex-col text-center min-w-full mb-12">
        {% block title %}
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">My Account</h1>
        {% endblock %}
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Enter required fields and create a new account with us</p>
      </div>
    </div>
</section>

{% endblock%}